
<header>
    <h1>Seja bem vindo a nossa página de Eventos</h1>

    <div id="Linkz">
        <a routerLink="../principal">Home</a>
        <a routerLink="../eventos">Eventos</a>
    </div>
</header>
<main>
    <img src="../../assets/aditya-chinchure-ZhQCZjr9fHo-unsplash 1.png" alt="Raposa do naruto dizendo: Vamo pro Puteiro">

    <h2>Eventos</h2>
    <br>

    <h3 class="subTitulo">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</h3>
   <br>
    <p>
        
        
        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. 
    </p>
    <br>

    <h3 class="subTitulo">Eventos</h3>
    <br>
    <p>
        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. 
    </p>
    <br>
</main>

<footer>
    <p>Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
</footer>